[submodule "straight/repos/emacs-websocket"]
	path = straight/repos/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
[submodule "straight/repos/org-roam-ui"]
	path = straight/repos/org-roam-ui
	url = https://github.com/org-roam/org-roam-ui.git
[submodule "straight/repos/git-auto-commit-mode"]
	path = straight/repos/git-auto-commit-mode
	url = https://github.com/ryuslash/git-auto-commit-mode.git
[submodule "straight/repos/git-auto-commit"]
	path = straight/repos/git-auto-commit
	url = https://github.com/renard/git-auto-commit.git
