auto-save-list
backups
elpa
*~
.#*
.places
recentf
.DS_store
projectile-bookmarks.eld
var/
ac-comphist.dat
/url/cookies
.mc-lists.el
eshell
persp-confs
tramp
/vendor/evernote-mode
/.org-id-locations
/bookmarks
/elpy/
/emacs-init.el
/ido.last
/lisp/
/org-journal.cache
/org-roam.db
/orgcard.txt
/persist/
/smex-items
/timelog
/transient/
/url/
/straight/build-cache.el
/straight/build
*.elc
